.center{
    align-items: center;
    display:grid;
}

button{
    height:75px;
}

.container{
    grid-template-areas:
                "name image"
                "franchise image";
    display:grid;
    align-items: center;
    
}

#Name{
    grid-area:name;
    justify-self: center;
}

#Franchise{
    grid-area:franchise;
    justify-self: center;
}

.Image{
    grid-area:image;
    justify-self: right;
    padding-right: 50px;
    height:95%;
}

.nameContainer{
    background-color: rgb(205, 255, 130);
    font-weight: bolder;
    height:90%;
    align-content: center;
    font-size:3vw;
    border-radius:20px;
}

.franchiseContainer{
    background-color: rgb(130, 222, 255);
    font-weight: normal;
    height:90%;
    align-content: center;
    font-size:1vw;
    border-radius:20px;
}

span{
    font-weight: bolder;
    font-size:3vw;
}


img{
    height:100%;
}