.center{
    grid-area:button;
}

button{
    height:75px;
    width:100%
}

.container{
    grid-template-areas:
                "name image"
                "franchise image"
                "button button";
    display:grid;
    align-items: center;
    height:250px;
    
}

#Name{
    grid-area:name;
    justify-self: center;
}

#Franchise{
    grid-area:franchise;
    justify-self: center;
}

.Image{
    grid-area:image;
    justify-self: right;
    align-self:center;
    padding-right: 50px;
    visibility: visible;
    margin:10px;
    height:90%;
    max-height:300px;
}

.nameContainer{
    background-color: rgb(205, 255, 130);
    font-weight: bolder;
    height:90%;
    align-content: center;
    font-size:3vw;
    border-radius:20px;
    margin:10px;
    height:150px;
}

.franchiseContainer{
    background-color: rgb(130, 222, 255);
    font-weight: normal;
    height:90%;
    align-content: center;
    font-size:1vw;
    border-radius:20px;
    margin:10px;
    height:150px;
}

span{
    font-weight: bolder;
    font-size:3vw;
}


img{
    height:100%;
}

p{
    text-align: left;
}