body{
    background-color: rgb(80, 80, 116);
    
}

.center{
    grid-area:button;
}

button{
    height:75px;
    width:100%
}

#Slider{
    grid-area:slider;
    width:50px;
    justify-self: center;
}

.container{
    grid-template-areas:
                "name image"
                "franchise image"
                "button button"
                "slider slider";
    display:grid;
    align-items: center;
    height:250px;
    
}

.container2{
    grid-template-areas:
                "name image"
                "franchise image";
    display:grid;
    align-items: center;
    height:250px;
    margin-bottom: 100px;
    
}

#Name{
    grid-area:name;
    justify-self: center;
}

#Name2{
    grid-area:name;
    justify-self: center;
}

#Franchise{
    grid-area:franchise;
    justify-self: center;
}

#Franchise2{
    grid-area:franchise;
    justify-self: center;
}

.Image{
    grid-area:image;
    justify-self: right;
    align-self:center;
    padding-right: 50px;
    visibility: visible;
    margin:10px;
    height:90%;
    max-height:300px;
}

.Image2{
    grid-area:image;
    justify-self: right;
    align-self:center;
    padding-right: 50px;
    visibility: visible;
    margin:10px;
    height:90%;
    max-height:300px;
}

.nameContainer{
    background-color: rgb(205, 255, 130);
    font-weight: bolder;
    height:90%;
    align-content: center;
    font-size:3rem;
    border-radius:20px;
    margin:10px;
    height:150px;
}

.franchiseContainer{
    background-color: rgb(130, 222, 255);
    font-weight: normal;
    height:90%;
    align-content: center;
    font-size:1rem;
    border-radius:20px;
    margin:10px;
    height:150px;
}



#franchiseSpan{
    grid-area:franchise;
    justify-self: center;
    font-weight: bolder;
    font-size:3rem;
}

#franchiseSpan2{
    grid-area:franchise;
    justify-self: center;
    font-weight: bolder;
    font-size:3rem;
}


img{
    height:100%;
}

p{
    text-align: left;
}